@page "/"

<PageTitle>Home</PageTitle>

<div class="">
    <div class="h-[90vh] p-0 bg-[url('/assets/landingpage.png')] bg-cover bg-bottom flex flex-row justify-end items-center">
        <div class="w-auto h-auto px-2 md:pr-10 md:h-auto md:w-1/2 space-y-7">
            <h1 class="body-heading2 text-center md:text-left md:text-4xl lg:text-5xl leading-tight text-white drop-shadow-md">Welcome to DotNet Tribe - Where African Developers Converge!</h1>
            <p class="body-text1 md:text-2xl text-white text-center md:text-left drop-shadow-lg">Join the vibrant African dotnet community and level up your coding skills and experience.</p>
            <div class="items-start text-center md:text-left">
                <input type="text" class="input " placeholder="johndoe@domain.com">
                <button class="btn-primary">Join Tribe</button>
            </div>
        </div>
    </div>
    <div class="h-[auto] w-full">
        <div class="grid text-center sm:text-left sm:grid-cols-2 gap-8  mt-20 mb-20 sm:p-[5rem] items-center">
            <div class="space-y-5">
                <h1 class="body-heading2 sm:text-4xl">Unleash</h1>
                <p class="body-text1 md:text-2xl">Get ready to explore the realm of .NET with us! We are the DotNet Tribe, a hyperactive African community of .NET developers just like you. Hop in, let's create epic stuff together!</p>
            </div>
            <div class="">
                <img src="/assets/landingpage.png" class="w-full h-full object-cover rounded-2xl" alt="">
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col md:mt-6 md:mb-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem] bg-primary">
            <div class="flex flex-col justify-center p-10 text-center space-y-8">
                <h1 class="body-heading2 sm:text-5xl lg:text-6xl text-white">Meet The Tribe Mentors</h1>
                <p class="body-text1 sm:text-2xl text-white">Meet the masterminds steering the ship of the DotNet Tribe.</p>
            </div>
            <div class="grid md:grid-cols-3 p-[1rem] gap-6 text-center">
                <div class="p-[4rem] sm:px-[2.5rem] justify-center space-y-2 bg-white rounded-2xl shadow-xl overflow-clip">
                    <img src="/assets/john.png" alt="Dev picture" class="rounded-full shadow-lg w-[12rem] lg:min-w-[15rem]"/>
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                </div>
                <div class="p-[4rem] sm:px-[2.5rem] justify-center space-y-2 bg-white rounded-2xl shadow-xl overflow-clip">
                    <img src="/assets/john.png" alt="Dev picture"
                        class="rounded-full shadow-lg w-[12rem] lg:min-w-[15rem]" />
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                </div>
                <div class="p-[4rem] sm:px-[2.5rem] justify-center space-y-2 bg-white rounded-2xl shadow-xl overflow-clip">
                    <img src="/assets/john.png" alt="Dev picture"
                        class="rounded-full shadow-lg w-[12rem] lg:min-w-[15rem]" />
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[auto] w-full">
        <div class="grid text-center sm:text-left sm:grid-cols-2 gap-8  mt-20 mb-20 sm:p-[5rem] items-center">
            <div class="order-last sm:order-none">
                <img src="/assets/landingpage.png" class="w-full h-full object-cover rounded-2xl" alt="">
            </div>
            <div class="space-y-5">
                <h1 class="body-heading2 sm:text-4xl">Journey through a multiverse of incredible .NET resources and tools</h1>
                <p class="body-text1 md:text-2xl">Feast your developer eyes and hungry minds on our extensive collection of tutorials, code snippets, reference guides, and inside scoops. Time to take your coding prowess up a notch.</p>
            </div>
        </div>
    </div>
    <div class="h-[auto] w-full">
        <div class="grid text-center sm:text-left sm:grid-cols-2 gap-8  mt-20 mb-20 sm:p-[5rem] items-center">
            <div class="space-y-5">
                <h1 class="body-heading2 sm:text-4xl">Power up with our bustling job board</h1>
                <p class="body-text1 md:text-2xl">Make your next big career leap with our job board that's brimming with exciting opportunities from top-shelf tech companies. Let's get you that dream .NET developer job!</p>
            </div>
            <div class="">
                <img src="/assets/landingpage.png" class="w-full h-full object-cover rounded-2xl" alt="">
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col md:mt-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem] bg-secondary">
            <div class="flex flex-col justify-center p-10 text-center space-y-8">
                <h1 class="body-heading2 sm:text-5xl lg:text-6xl text-white">The Tribe Leaders</h1>
                <p class="body-text1 sm:text-2xl text-white">Meet the power duo that keeps the Tribe engaged and thriving.</p>
            </div>
            <div class="grid sm:grid-cols-2 gap-10 sm:gap-20 p-[2rem] text-center">
                <div class="p-[4rem] sm:px-[3rem] lg:px-[6rem] space-y-2 bg-white rounded-2xl shadow-xl">
                    <img src="/assets/john.png" alt="Dev picture"
                        class="rounded-full shadow-lg w-[12rem] lg:min-w-[15rem]" />
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                    <a href=""><span class="icon-[mdi--linkedin] p-6 m-1"></span></a>
                    <a href=""><span class="icon-[fa6-brands--square-x-twitter] p-5 m-2"></span></a>
                </div>
                <div class="p-[4rem] sm:px-[3rem] lg:px-[6rem] space-y-2 bg-white rounded-2xl shadow-xl">
                    <img src="/assets/john.png" alt="Dev picture"
                        class="rounded-full shadow-lg w-[12rem] lg:min-w-[15rem]" />
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                    <a href=""><span class="icon-[mdi--linkedin] p-6 m-1"></span></a>
                    <a href=""><span class="icon-[fa6-brands--square-x-twitter] p-5 m-2"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>