@page "/whoweare"

<PageTitle>WhoWeAre</PageTitle>

<div class="bg-primary-bg">
    <div class="h-[auto]">
        <div class="flex flex-col md:mb-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem]">
            <div class="p-10 text-center space-y-8">
                <h1 class="body-heading2 md:text-5xl lg:text-6xl text-dark">Meet like-minded dotnet devs</h1>
                <p class="body-text1 md:text-xl lg:text-2xl lg:max-w-[50rem] text-dark">Welcome to DotNet Tribe, a dynamic community that goes beyond code. We are more than developers; we are a collective force, binding African tech enthusiasts under the umbrella of C# and .NET. Our journey is a symphony of diversity, collaboration, and the relentless pursuit of coding excellence.</p>
            </div>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-6 justify-center">
                <div class=" h-[20rem] lg:h-[25rem] w-[20rem] lg:w-[25rem] rounded-2xl bg-[url('/assets/samplepic.png')] bg-cover bg-no-repeat bg-center shadow-2xl">
                </div>
                <div class="hidden sm:block h-[20rem] lg:h-[25rem] w-[20rem] lg:w-[25rem] rounded-2xl bg-[url('/assets/samplepic.png')] bg-cover bg-no-repeat bg-center shadow-2xl">
                </div>
                <div class="hidden sm:block h-[20rem] lg:h-[25rem] col-span-full lg:col-auto rounded-2xl bg-[url('/assets/samplepic.png')] bg-cover bg-no-repeat bg-center shadow-2xl">
                </div>        
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col md:mb-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem]">
            <div class="p-10 text-center space-y-8">
                <h1 class="body-heading2 md:text-5xl lg:text-6xl text-dark">Community Overview: Echoes of Innovation</h1>
            </div>
            <div class="grid md:grid-cols-2 gap-x-12 lg:gap-x-44 gap-y-6 justify-center">
                <div class=" h-[auto] w-[20rem] lg:w-[30rem] rounded-2xl bg-white border-4 border-primary p-10 text-center sm:text-left overflow-hidden">
                    <h2 class="body-heading2 md:text-3xl lg:text-4xl mb-2 text-dark">Our Journey</h2>
                    <p class="body-text1 md:text-lg lg:text-2xl text-center text-dark">From the humble beginnings of shared aspirations to becoming a thriving hub of knowledge exchange, DotNet Tribe has traced an extraordinary trajectory. Explore our timeline, where each milestone marks a chapter in our collective pursuit of coding excellence.</p>
                </div>
                <div class=" h-[auto] w-[20rem] lg:w-[30rem] rounded-2xl bg-white border-4 border-primary p-10 text-center sm:text-left overflow-hidden">
                    <h2 class="body-heading2 md:text-3xl lg:text-4xl mb-2 text-dark">Mission & Values</h2>
                    <p class="body-text1 md:text-lg lg:text-2xl text-center text-dark">Our mission resonates in every line of code we write - to expand and communicate the knowledge of C# and .NET across Africa. Rooted in collaboration and empowerment, our values drive us to create an inclusive space where every developer can thrive.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col md:mb-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem]">
            <div class="p-10 text-center space-y-8">
                <h1 class="body-heading2 md:text-5xl lg:text-6xl text-dark">DoNetTribe in numbers</h1>
            </div>
            <div class="grid h-[auto] lg:grid-cols-2 p-5 bg-white rounded-2xl gap-4 overflow-hidden">
                <div class="h-[auto] w-[20rem] md:w-[35rem] rounded-2xl bg-white overflow-hidden">
                    <div class="grid md:grid-cols-2 gap-2 md:gap-4">
                        <div class="h-[auto] flex flex-col justify-center items-center p-10 bg-secondary-bg border-2 border-primary rounded-2xl ">
                            <span class="icon-[fluent--calendar-note-20-filled] bg-primary p-6 m-1" style=""></span>
                            <h2 class="body-heading2 md:text-3xl">50+</h2>
                            <p class="body-text1 md:text-lg lg:text-2xl">Current Jobs</p>
                        </div>
                        <div class="h-[auto] flex flex-col justify-center items-center p-10 bg-secondary-bg border-2 border-primary rounded-2xl ">
                            <span class="icon-[solar--posts-carousel-vertical-bold] bg-primary p-6 m-1" style=""></span>
                            <h2 class="body-heading2 md:text-3xl">100+</h2>
                            <p class="body-text1 md:text-lg lg:text-2xl">Posts & Resources</p>
                        </div>
                        <div class=" col-span-full h-[auto] flex flex-col justify-center items-center p-10 bg-secondary-bg border-2 border-primary rounded-2xl ">
                            <span class="icon-[fluent--people-team-20-filled] bg-primary p-6 m-1" style=""></span>
                            <h2 class="body-heading2 md:text-3xl">500+</h2>
                            <p class="body-text1 md:text-lg lg:text-2xl">Community Members</p>
                        </div>
                        
                    </div>
                </div>
                <div class="h-[20rem] md:h-[29rem] w-[20rem] md:w-[35rem] rounded-3xl bg-[url('/assets/samplepic.png')] bg-cover bg-center">                
                </div>
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col md:mt-6 mb-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem] bg-[url('/assets/leadership-bg.png')] bg-cover ">
            <div class="flex flex-col justify-center p-10 text-center space-y-8">
                <h1 class="body-heading2 md:text-5xl lg:text-6xl text-white drop-shadow-2xl">Leadership Team: Maestros of Innovation</h1>
            </div>
            <div class="grid lg:grid-cols-3 p-[1rem] gap-8 lg:gap-16 text-center">
                <div class=" px-[4rem] py-[2rem] flex flex-col justify-center items-center space-y-2 bg-white rounded-2xl shadow-xl overflow-hidden">
                    <img src="/assets/john.png" alt="Dev picture" class="rounded-full  shadow-lg w-[auto]"/>
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                    <div class="flex flex-row">
                        <a href=""><span class="icon-[mdi--linkedin] p-6 m-1"></span></a>
                        <a href=""><span class="icon-[fa6-brands--square-x-twitter] p-5 m-2"></span></a>
                    </div>    
                </div>
                <div class=" px-[4rem] py-[2rem] flex flex-col justify-center items-center space-y-2 bg-white rounded-2xl shadow-xl overflow-hidden">
                    <img src="/assets/john.png" alt="Dev picture" class="rounded-full  shadow-lg w-[auto]"/>
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                    <div class="flex flex-row">
                        <a href=""><span class="icon-[mdi--linkedin] p-6 m-1"></span></a>
                        <a href=""><span class="icon-[fa6-brands--square-x-twitter] p-5 m-2"></span></a>
                    </div>    
                </div>
                <div class=" px-[4rem] py-[2rem] flex flex-col justify-center items-center space-y-2 bg-white rounded-2xl shadow-xl overflow-hidden">
                    <img src="/assets/john.png" alt="Dev picture" class="rounded-full  shadow-lg w-[auto]"/>
                    <h2 class="body-heading2 sm:text-4xl">John Ajayi</h2>
                    <p class="text-xl sm:text-2xl">Software Engineer</p>
                    <div class="flex flex-row">
                        <a href=""><span class="icon-[mdi--linkedin] p-6 m-1"></span></a>
                        <a href=""><span class="icon-[fa6-brands--square-x-twitter] p-5 m-2"></span></a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col md:mb-6 md:mt-6 justify-center items-center space-y-10 md:space-y-10 pb-[10rem] md:p-[2rem]">
            <div class="grid h-[auto] lg:h-[45rem] lg:grid-cols-2  border-8 bg-white rounded-2xl overflow-hidden">
                <div class="h-[auto] w-[20rem] md:w-[35rem] space-y-5 py-8 px-9 border-8 flex flex-col justify-center items-center overflow-hidden">
                    <h1 class="body-heading2 text-center lg:text-left w-full md:text-5xl">Monthly Catch Up</h1>
                    <p class="body-text1 sm:text-2xl text-center lg:text-left">Meet with other dotnet developers online and connect with the DotNetTribe team on Discord to ask them questions.</p>
                    <button class="btn-primary flex lg:self-start items-center ">Join On Discord<span class="icon-[ic--twotone-discord] bg-white p-3 hover:animate-spin"></span></button>
                </div>
                <div class="h-[20rem] md:h-[29rem] lg:h-full w-[20rem] md:w-[35rem]  bg-[url('/assets/discord.png')] bg-cover bg-center border-8">                
                </div>
            </div>
        </div>
    </div>
    <div class="h-[auto]">
        <div class="flex flex-col h-[80rem] md:h-full mb-[5rem] md:mb-6 justify-center items-center space-y-10 pb-[10rem] md:p-[4rem] overflow-hidden">
            <div class="p-10 -mt-[25rem] md:m-0 text-center space-y-8">
                <h1 class="body-heading2 md:text-5xl lg:text-6xl text-dark">Meet the Members and what they think of DotNetTribe. Join Them.</h1>
            </div>
            <div class="grid md:grid-cols-8 h-[30rem] w-[80vw] gap-2 justify-center">
                <div class=" md:col-span-2 bg-secondary-bg border-2 border-accent h-[full] w-[20rem] md:w-full p-2 rounded-2xl md:shadow-2xl flex flex-col justify-between overflow-clip">
                    <div class="w-full h-1/2 flex flex-row justify-between">
                        <div>
                            <span class="icon-[ooui--quotes-ltr] bg-primary p-5 mt-2 lg:p-10" ></span>
                        </div>
                        <div class="h-[full] w-[8rem] text-right md:text-center flex flex-col justify-center items-center  overflow-hidden">
                            <img src="/assets/john.png" alt="Dev picture" class="rounded-full  h-[2rem] lg:h-[4rem] w-[auto]"/>
                            <h2 class="text-base font-bold font-grotesk lg:text-2xl">John Ajayi</h2>
                            <p class="text-xs lg:text-sm">Software Engineer</p>
                        </div>
                    </div>
                    <div class="p-2">
                        <p class=" text-justify">Meet with other dotnet developers online and connect with the DotNetTribe team on Discord to ask them questions.</p>
                    </div>
                </div>
                <div class=" md:col-span-4 md:space-y-5 lg:space-y-1  h-[27rem] md:h-[auto] w-[20rem] md:w-full rounded-2xl">
                    <div class="border-2 border-primary rounded-2xl bg-secondary-bg mb-2 md:mb-0  p-2 h-1/2 overflow-hidden flex flex-col justify-around">
                        <div class="w-full h-[auto] flex flex-row justify-between">
                            <div>
                                <span class="icon-[ooui--quotes-ltr] bg-primary p-5 mt-2 lg:p-10" ></span>
                            </div>
                            <div class="h-[full] w-[8rem] text-right md:text-center flex flex-col justify-center items-center  overflow-hidden">
                                <img src="/assets/john.png" alt="Dev picture" class="rounded-full  h-[2rem] lg:h-[4rem] w-[auto]"/>
                                <h2 class="text-base font-bold font-grotesk lg:text-2xl">John Ajayi</h2>
                                <p class="text-xs lg:text-sm">Software Engineer</p>
                            </div>
                        </div>
                        <p class="text-sm md:body-text1 text-justify">Meet with other dotnet developers online and connect with the DotNetTribe team on Discord to ask them questions.</p>
                    </div>
                    <div class="flex flex-row">
                        <div class=" hidden bg-secondary-bg border-2 border-secondary h-auto w-full lg:w-1/2 p-2 rounded-2xl md:shadow-2xl lg:flex flex-col justify-between overflow-clip ">
                            <div class="w-full h-1/2 p-1 flex flex-row justify-between">
                                <div>
                                    <span class="icon-[ooui--quotes-ltr] bg-primary p-3 mt-2 lg:p-7" ></span>
                                </div>
                                <div class="h-[full] w-[8rem] text-right md:text-center flex flex-col justify-center items-center  overflow-hidden">
                                    <img src="/assets/john.png" alt="Dev picture" class="rounded-full  h-[2rem] lg:h-[3rem] w-[auto]"/>
                                    <h2 class="text-base font-bold font-grotesk lg:text-xl">John Ajayi</h2>
                                    <p class="text-xs lg:text-sm">Software Engineer</p>
                                </div>
                            </div>
                            <div class="p-2">
                                <p class=" text-justify">Meet with other dotnet developers online and connect with the DotNetTribe team on Discord to ask them questions. </p>
                            </div>
                        </div>  
                        <div class="bg-secondary-bg border-2 border-secondary h-auto w-full lg:w-1/2 p-2 rounded-2xl md:shadow-2xl flex flex-col justify-between overflow-clip">
                            <div class="w-full h-1/2 p-1 flex flex-row justify-between">
                                <div>
                                    <span class="icon-[ooui--quotes-ltr] bg-primary p-3 mt-2 lg:p-7" ></span>
                                </div>
                                <div class="h-[full] w-[8rem] text-right md:text-center flex flex-col justify-center items-center  overflow-hidden">
                                    <img src="/assets/john.png" alt="Dev picture" class="rounded-full  h-[2rem] lg:h-[3rem] w-[auto]"/>
                                    <h2 class="text-base font-bold font-grotesk lg:text-xl">John Ajayi</h2>
                                    <p class="text-xs lg:text-sm">Software Engineer</p>
                                </div>
                            </div>
                            <div class="p-2">
                                <p class=" text-justify">Meet with other dotnet developers online and connect with the DotNetTribe team on Discord to ask them questions. </p>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class=" md:col-span-2 bg-secondary-bg border-2 border-accent h-[full] w-[20rem] md:w-full p-2 rounded-2xl md:shadow-2xl flex flex-col justify-between overflow-clip">
                    <div class="w-full h-1/2 flex flex-row justify-between">
                        <div>
                            <span class="icon-[ooui--quotes-ltr] bg-primary p-5 mt-2 lg:p-10" ></span>
                        </div>
                        <div class="h-[full] w-[8rem] text-right md:text-center flex flex-col justify-center items-center  overflow-hidden">
                            <img src="/assets/john.png" alt="Dev picture" class="rounded-full  h-[2rem] lg:h-[4rem] w-[auto]"/>
                            <h2 class="text-base font-bold font-grotesk lg:text-2xl">John Ajayi</h2>
                            <p class="text-xs lg:text-sm">Software Engineer</p>
                        </div>
                    </div>
                    <div class="p-2">
                        <p class=" text-justify">Meet with other dotnet developers online and connect with the DotNetTribe team on Discord to ask them questions.</p>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>