@if (IsVisible)
{
    <div class="fixed md:hidden top-4 bg-white bg-opacity-90 w-[90vw] h-[95vh] p-5 flex flex-col justify-center items-center z-1000 rounded-xl shadow-2xl"
        @onclick="ClosePopup">
        <div class="w-full h-full flex flex-col" @onclick:stopPropagation="true">
            <button class="p-2 self-end" @onclick="ClosePopup"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                    height="32" viewBox="0 0 512 512">
                    <path fill="#2b3b47"
                        d="m325.297 256l134.148-134.148c19.136-19.136 19.136-50.161 0-69.297c-19.137-19.136-50.16-19.136-69.297 0L256 186.703L121.852 52.555c-19.136-19.136-50.161-19.136-69.297 0s-19.136 50.161 0 69.297L186.703 256L52.555 390.148c-19.136 19.136-19.136 50.161 0 69.297c9.568 9.567 22.108 14.352 34.648 14.352s25.081-4.784 34.648-14.352L256 325.297l134.148 134.148c9.568 9.567 22.108 14.352 34.648 14.352s25.08-4.784 34.648-14.352c19.136-19.136 19.136-50.161 0-69.297z" />
                </svg></button>
            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    private async Task ClosePopup()
    {
        IsVisible = false;
        await IsVisibleChanged.InvokeAsync(IsVisible);
    }
}