<div class="w-full grid gap-6 lg:px-40 lg:py-20 p-7 -mt-[9rem] sm:-mt-[3rem] mx-auto rounded-t-[7rem] md:px-20 bg-dark text-white">
    <div class="text-center space-y-4">
        <div>
            <h1 class="body-heading2 md:text-5xl lg:text-6xl font-bold p-10">Join The Tribe Newsletter</h1>
        </div>
        <div class="">
            <p class="body-text1 md:px-28 md:py-5">Enough said already! It’s time to take the plunge and join the coolest .NET African community on the planet. Let’s redefine what’s possible together.</p>
        </div>    
        <div class="items-center">
            <input type="text" class="input " placeholder="johndoe@domain.com">
            <button class="btn-primary">Join Tribe</button>
        </div>
    </div>
    <div class="grid md:grid-cols-2 p-4 gap-4 overflow-hidden">
        <div class="hidden md:flex justify-center w-full h-80">
            <img src="/assets/Trybe_dark_logo.png" alt="footer logo" class="w-80 h-80 p-2 object-cover">
        </div>
        <div class="w-full h-full grid md:grid-cols-2 gap-2">
            <div class="">
                <h1 class="body-text1 font-bold text-lg">Footer Cap</h1>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
            </div>
            <div class="">
                <h1 class="body-text1 font-bold text-lg">Footer Cap</h1>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
            </div>
            <div class="">
                <h1 class="body-text1 font-bold text-lg">Footer Cap</h1>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
            </div>
            <div class="">
                <h1 class="body-text1font-bold text-lg">Footer Cap</h1>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
                <p class="body-text1">Link</p>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-evenly m-9">
        <div class="">
            <p class="body-text1 text-center font-extrabold">&copy; 2023 DotNetTribe. All rights reserved.</p>
        </div>
        <div class="mt-9 md:mt-0">
            <a href=""><span class="icon-[fa6-brands--square-x-twitter] p-5 m-2"></span></a>
            <a href=""><span class="icon-[logos--facebook] p-5 m-2"></span></a>
            <a href=""><span class="icon-[skill-icons--instagram] p-5 m-2"></span></a>
            <a href=""><span class="icon-[devicon--linkedin] p-5 m-2"></span></a>
        </div>
    </div>
</div>