@inherits LayoutComponentBase

<div class="flex flex-col justify-between bg-secondary-bg">
    <NavBar/>
    <main class="sm:mx-auto w-full overflow-auto">
        @Body
    </main>
    <Footer/>
</div>